.happy{
  color: pink;
  background-color: yellow;
  font-size: 50 px;
}

.sad{
  color: blue;
  background-color: grey;
  font-size: 9 px;
}

.box{
  display: inline-block;
  background-color: yellow;
  padding: 10px;
  margin: 10px;
  border: 1px dashed red;
  border-radius: 10px;
}

.even{
  display: inline-block;
  background-color: orange;
}

.odd{
  display: inline-blcok;
  background-color: blue;
}
